<button (click)="likePost()"
        [hidden]="chechActivate()">
    <i [hidden]="chechActivate()"
       class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
</button>
<div class="textlikes">
    <span>{{post.likes}} like{{ post.likes !== 1 ? 's' : '' }}</span>
</div>
