<div class="metadata">
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <span class="name blink-font"
              (click)="showMyPosts()">{{ post.author.name }}</span>
        <span class="date">{{ post.publicationDate | FromNow }}</span>
    </div>
    <div class="modify">
        <button (click)="updatePost()"
                [hidden]="post.author.id!=defaultUserId">Modify</button>
    </div>
    <div class="like">
        <likes-box [post]="post"></likes-box>
    </div>
</div>
<div class="post">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
    <hr>
    <div class="html-text" [innerHtml]="plainTextToHtml(post.body)"></div>
    <category-box [categories]="post.categories"
                  (categoryClick)="postsByCategory($event)"></category-box>
</div>
