
<form #postForm="ngForm" (ngSubmit)="submitPost(postForm)" novalidate>

    <input
        type="text"
        placeholder="Título"
        class="u-full-width"
        [(ngModel)]="title"
        name="title"
        required>
    <textarea
        placeholder="Introduce tu historia"
        class="u-full-width georgia-font"
        [(ngModel)]="intro"
        name="intro"
        required
        autogrow></textarea>
    <textarea
        placeholder="Cuenta tu historia"
        class="u-full-width georgia-font"
        [(ngModel)]="body"
        name="body"
        required
        autogrow></textarea>
    <div [hidden]="post">
        <div>
            <label (click)="setScheduling(false)">
                <span class="radio-input" [class.active]="!publicationDateScheduled"></span>
                No programar
            </label>
        </div>
        <div>
            <label (click)="setScheduling(true)">
                <span class="radio-input" [class.active]="publicationDateScheduled"></span>
                Publicar en:
            </label>
        </div>
        <div>
            <input
                type="datetime-local"
                name="publicationDate"
                [min]="nowDatetimeLocal"
                [ngModel]="nowDatetimeLocal">
        </div>
    </div>
    <button type="submit" class="button-primary u-pull-right"
            [disabled]="postForm.invalid">Publicar</button>
</form>
