<div class="header">
    <div class="u-pull-left action-link title">
        <a routerLink="/">POSTIUM</a>

    </div>
    <div class="u-pull-right">
        <div class="u-pull-right">
            <search-box (onSearch)="search($event)"></search-box>
        </div>
        <div class="u-pull-right action-link blink-font">
            <a routerLink="/new-story">Escribe una historia</a>
        </div>
    </div>
</div>
