<div class="metadata">
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <span class="name blink-font"
              (click)="showMyPosts()">{{ post.author.name }}</span>
        <span class="date">{{ post.publicationDate | FromNow }}</span>
    </div>
</div>
<div class="post" (click)="showDetail()">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
</div>
